NODE_ENV=

APP_NAME=

BACKEND_INNER_PORT=
BACKEND_OUTER_PORT=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PW=

BCRYPT_SALT_ROUNDS=

JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_TIME=
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION_TIME=

THROTTLER_TTL=
THROTTLER_LIMIT=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_PUBLIC_URI=
